@import '../../styles/variables.module.scss';

.container {
  display: flex;
  position: sticky;
  top: 0;
  min-height: 4em;
  height: 4em;
  padding: 0 1em;
  background-color: var(--backgroundColor, white);
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $lightGray;
  }

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 15px;
    background: linear-gradient(white, rgba(255,255,255,0));
  }
}

.link {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 6em;
  text-decoration: none;
  color: $gray;
  transition: color 0.2s ease;
  height: 100%;
  font-weight: bold;
  padding: 0 0.5em;

  &::after {
    position: absolute;
    z-index: 1;
    opacity: 0;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: $orange;
    transition: opacity 0.2s ease;
  }

  &:hover {
    color: darken($gray, 10%);
  }
  &:focus {
    color: darken($gray, 20%);
  }
  &.active {
    &::after {
      opacity: 1;
    }
  }
}

.repositoryCount {
    margin: 0 0.25em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 100%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
}